<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymFit | Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-dark">

<div class="container-registro">
    <div class="login-card">
        <h1 class="gym-brand">GYMFIT</h1>
        <p>Superá tus límites. Iniciá sesión para entrenar.</p>

        <form>
            <label>Nombre de Usuario o Email</label>
            <input type="text" placeholder="ejemplo123">

            <label>Contraseña</label>
            <input type="password" placeholder="••••••••">

            <button type="submit" class="btn-gym">Ingresar</button>

            <div class="text-footer">
                ¿Sos nuevo? <a th:href="@{/crearCuenta}">Crear una cuenta</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>