<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymFit | Registro</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container-registro">
    <div class="login-card">
        <h1 class="gym-brand">GYMFIT</h1>
        <p>Unite al team. Crea tu cuenta para empezar.</p>

        <form th:action="@{/registro}" method="POST">
            <label>Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Juan">

            <label>Apellido</label>
            <input type="text" name="apellido" id="apellido" placeholder="Pérez">

            <label>Edad</label>
            <input type="number" name="edad" id="edad" placeholder="25">

            <label>Correo Electrónico</label>
            <input type="email" name="email" id="email" placeholder="juan@ejemplo.com">

            <label>Teléfono</label>
            <input type="text" name="telefono" id="telefono" placeholder="11 5478-6598">

            <label>Direccion</label>
            <input type="text" name="direccion" id="direccion" placeholder="calle falsa 123">

            <label>Contraseña</label>
            <input type="password" name="password" id="password" placeholder="••••••••">

            <label>Confirmar Contraseña</label>
            <input type="password" name="password-repeat" id="password-repeat" placeholder="Repetir la contraseña escrita arriba">

            <button type="submit" class="btn-gym">Registrarse</button>

            <div class="text-footer">
                ¿Ya tenés cuenta? <a th:href="@{/login}">Iniciar Sesión</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>